before_script:
  - git lfs pull


stages:
    - test
    - deploy


test_spechomo:
  stage: test
  script:
    - source /root/miniconda3/bin/activate ci_env
    - conda install -y -c conda-forge "scikit-learn=0.23.2"  # FIXME remove as soon as docker container is rebuilt
    - pip install 'geoarray>=0.10.4'  # FIXME remove as soon as docker container is rebuilt

    # run nosetests
    - make nosetests  # test are called here

    # create the docs
    - pip install sphinx_rtd_theme  # Read-the-docs theme for SPHINX documentation
    - pip install sphinx-autodoc-typehints
    - make docs
  artifacts:
    paths:
    - htmlcov/
    - docs/_build/html/
    - nosetests.html
    - nosetests.xml
    - tests/linting
  when: always


test_styles:
  stage: test
  script:
    - source /root/miniconda3/bin/activate ci_env
    - make lint
  artifacts:
    paths:
    # - tests/data/test_outputs/*.log  # log files are deleted by test teardown method
    - tests/linting/flake8.log
    - tests/linting/pycodestyle.log
    - tests/linting/pydocstyle.log
    when: always


test_spechomo_install:
  stage: test
  script:
    - source /root/miniconda3/bin/activate
    - conda update conda
#    - conda install conda-build
    - conda create -y -q -c conda-forge --name spechomo_test python=3
    - conda activate spechomo_test

    # update conda and python
#    - conda update -n base -c conda-forge conda
#    - conda update -c conda-forge python

    # install some dependencies that cause trouble when installed via pip
    - conda install -y -c conda-forge matplotlib numpy pandas "scikit-learn=0.23.2"

    # install not pip-installable deps of geoarray/py_tools_ds
    - conda install -y -c conda-forge cartopy gdal geopandas pyproj scikit-image shapely

    # install spechomo
    - python setup.py install
    - cd ..
    - pwd
    - ls

    # test importability
    - python -c "import spechomo; print(spechomo)"
    - python -c "from spechomo import SpectralHomogenizer"


pages:
  stage: deploy
  dependencies:
    - test_spechomo
  script:
    # Create the public directory
    - rm -rf public
    - mkdir public
    - mkdir -p public/doc
    - mkdir -p public/coverage
    - mkdir -p public/nosetests_reports

    # Copy over the docs
    - cp -r docs/_build/html/* public/doc/

    # Copy over the coverage reports
    - cp -r htmlcov/* public/coverage/

    # Copy over the nosetests reports
    - cp nosetests.* public/nosetests_reports/

    # Check if everything is working great
    - ls -al public
    - ls -al public/doc
    - ls -al public/coverage
    - ls -al public/nosetests_reports
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
    - feature/add_docs


deploy_pypi:
  stage: deploy
  dependencies:
    - test_spechomo
  script:
    - source /root/miniconda3/bin/activate
    - conda activate ci_env
    - pip install -U twine
    - python setup.py sdist
    - twine upload dist/*  # requires creds as environment variables
  only:
    - /^v\d+\.\d+\.\d+([abc]\d*)?$/  # PEP-440 compliant version (tags)
  except:
    - dev


create_github_release:
    stage: deploy
    dependencies:
        - test_spechomo
    script:
        - bash ./.github/create_release_from_gitlab_ci.sh  # uses environment variables set in the UI
    only:
        - /^v\d+\.\d+\.\d+([abc]\d*)?$/  # PEP-440 compliant version (tags)
    except:
        - dev
